In [11]:
!pip install fastparquet -q

In [16]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("backend/db.sqlite3")

In [14]:
df = pd.read_parquet("nft_average_holding_period.parquet", engine="fastparquet")
df.to_sql("nft_avg_holding",con=con)

In [18]:
df = pd.read_parquet("nft_diamond_hands.parquet", engine="fastparquet")
df.to_sql("nft_diamond_hands",con=con)

10

In [19]:
df = pd.read_parquet("meved_entity.parquet")
df.to_sql("meved_entity",con=con)

258

In [30]:
df = pd.read_parquet("phished_entity.parquet")
df

,entityId,currency_address,receiver,receiver_address,sender_address,dt,transaction_hash
531938,12683,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,False,0x28733543ec21dfd4dac3fa2d7ad74d6c6d2bb49d,0x66d16484353cdc4cb7178d147d20c13a9a9def13,2022-07-17 07:28:08,0xa41b00cef22558688a8c1e59a363ac51a5f9908ab2f4...
1414024,12683,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,True,0x28733543ec21dfd4dac3fa2d7ad74d6c6d2bb49d,0x32e242142b67101234896061ae64c8ee7ac3d443,2022-07-17 07:30:42,0xe64d480255ff2055d6bd9333a679798696170c3294f1...
504281,13781,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,False,0x1079061d37f7f3fd3295e4aad02ece4a3f20de2d,0x6fa1225ad6ef6552473054a171350d9e8ad5c559,2022-06-04 08:05:11,0x89772f7ca200fffa5b5cba70dbaf1cdf6461eaca030e...
1386348,13781,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,True,0x1079061d37f7f3fd3295e4aad02ece4a3f20de2d,0xa0f6ff6aca3a401766f96356e822d92576a42cc5,2022-06-04 08:32:05,0x03ee21b25b7c2c521c860992caab8dd41121389b11a6...
367102,13798,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,False,0x6f7a49da0f184509814039956137dadb9ccda4f8,0x0000000000000000000000000000000000000000,2022-05-01 06:00:24,0x7ade181667bce99feb3b7a48273020d07fc8d24f9206...
...,...,...,...,...,...,...,...
977810,8550,0xed5af388653567af2f388e6224dc7c4b3241c544,True,0x3e0defb880cd8e163bad68abe66437f99a7a8a74,0xad3c83f237bb07cbe06a9d1c7373d74cb6e322cc,2022-02-20 11:23:01,0xb2e481a4293351b027f6026441cd206bd9b895f667e0...
96302,8552,0xed5af388653567af2f388e6224dc7c4b3241c544,False,0x3e0defb880cd8e163bad68abe66437f99a7a8a74,0x2dd534dd4949ccdbb301d29b15d8b86111ee4ae1,2022-02-20 00:54:19,0xfd3ac0804b9f8af8e0185ecc43c855867a04ed10eede...
977787,8552,0xed5af388653567af2f388e6224dc7c4b3241c544,True,0x3e0defb880cd8e163bad68abe66437f99a7a8a74,0xe8a1edb81b45b8fb8f5049f957facce779a45d22,2022-02-20 12:19:30,0xe7f58f3d0e2921ed135c1afe811d7b8b6d0f5a62a71b...
96413,9372,0xed5af388653567af2f388e6224dc7c4b3241c544,False,0x3e0defb880cd8e163bad68abe66437f99a7a8a74,0x13b6f48b7d831f875771eecac073a28eda4b137c,2022-02-20 00:09:04,0x18c0b67adf306b7f0da948e238c1397b54b865af7dee...
977783,9372,0xed5af388653567af2f388e6224dc7c4b3241c544,True,0x3e0defb880cd8e163bad68abe66437f99a7a8a74,0xe8a1edb81b45b8fb8f5049f957facce779a45d22,2022-02-20 12:19:30,0xe7f58f3d0e2921ed135c1afe811d7b8b6d0f5a62a71b...

In [ ]:
df.to_sql("phished_entity",con=con)

In [29]:
df = pd.read_parquet("address_db.parquet")
df.to_sql("address_labels",con=con)

                                         address  label
0     0xeb4c5ab9b36437f969888be99af42fc9087005a5    MEV
1     0x9799b475dec92bd99bbdd943013325c36157f383    MEV
2     0x000000000000084e91743124a982076c59f10084    MEV
3     0x0000007c68390193776e8b44df3b698d311070b9    MEV
4     0x00000000000123685885532dcb685c442dc83126    MEV
...                                          ...    ...
5774  0x794ecf3d86271d3d5efd64b49e46f5b70680373e  phish
5775  0xc81548a3c601e2c41f9b4b38120860d8b0860c3a  phish
5776  0x2bca419e570b1620b5e922fc005e806453affc83  phish
5777  0xbce6d09b800d0bc03f34ef93ed356519faec64d0  phish
5778  0xe4ffd96b5e6d2b6cdb91030c48cc932756c951b5  phish

[5931 rows x 2 columns]

In [23]:
df = pd.read_parquet("mev_phish_stats.parquet")
df.columns = [ "_".join(list(tup)) for tup in df.columns.to_flat_index()]
df.to_sql("label_stats",con=con)

19

In [24]:
#TODO ENS

In [28]:
df.to_dict(orient="records")

[{'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0002454667206038874,
  'phisher_b_sum': 125,
  'mev_b_mean': 0.0002238656491907453,
  'mev_b_sum': 114},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0002073317697062368,
  'phisher_b_sum': 32,
  'mev_b_mean': 5.18329424265592e-05,
  'mev_b_sum': 8},
 {'phisher_b_mean': 0.00040964742704593574,
  'phisher_b_sum': 89,
  'mev_b_mean': 0.0001288778422166989,
  'mev_b_sum': 28},
 {'phisher_b_mean': 3.6722852631192394e-05,
  'phisher_b_sum': 2,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0002585000912353263,
  'phisher_b_sum': 34,
  'mev_b_mean': 1.5205887719725077e-05,
  'mev_b_sum': 2},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0005338856584160963,
  'phisher_b_sum': 83,
  'mev_b_mean': 1.2864714660628828e-05,
  'mev_b_sum': 2},
 {'phisher_b_mean': 0.00015775132654524595,
  'phisher_b_sum': 22,
  'mev_b_mean': 0.00010038720780152014,
  'mev_b_sum': 14},
 {'phisher_b_mean': 0.00011839924224484963,
  'phisher_b_sum': 12,
  'mev_b_mean': 0.00037493093377535716,
  'mev_b_sum': 38},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0},
 {'phisher_b_mean': 0.0007589172780166962,
  'phisher_b_sum': 96,
  'mev_b_mean': 0.0004110801922590438,
  'mev_b_sum': 52},
 {'phisher_b_mean': 0.0,
  'phisher_b_sum': 0,
  'mev_b_mean': 0.0,
  'mev_b_sum': 0}]